@page
@model IndexModel
@using Microsoft.AspNetCore.Authentication
<h2>Claims</h2>
<d1>
    @foreach(var claim in User.Claims) {
        <dt>@claim.Type</dt>
        <dd>@claim.Value</dd>
    }
</d1>
<h2>Properties</h2>
<d1>
    @foreach(var prop in (await HttpContext.AuthenticateAsync()).Properties.Items) {
        <dt>@prop.Key</dt>
        <dd>@prop.Value</dd>
    }
</d1>